// fonts
@mixin roboto {
  font-family: 'roboto';
}

@mixin sansus {
  font-family: 'sansus-webissimo';
}

@mixin fontawesome {
  font-family: 'fontawesome';
}

@mixin roboto-bold {
  font-family: 'roboto-bold';
}

@mixin roboto-bolditalic {
  font-family: 'roboto-bolditalic';
}

@mixin roboto-italic {
  font-family: 'roboto-italic';
}

@mixin roboto-light {
  font-family: 'roboto-light';
}

@mixin roboto-lightitalic {
  font-family: 'roboto-lightitalic';
}

@mixin roboto-medium {
  font-family: 'roboto-medium';
}

@mixin roboto-mediumitalic {
  font-family: 'roboto-mediumitalic';
}

@mixin roboto-regular {
  font-family: 'roboto-regular';
}

// figures
@mixin circle($width, $color) {
  width: $width;
  height: $width;
  -webkit-border-radius: $width/2;
  -moz-border-radius: $width/2;
  -o-border-radius: $width/2;
  -ms-border-radius: $width/2;
  border-radius: $width/2;
  background-color: $color;
}

@mixin triangle($width, $dir, $color) {
  width: 0;
  height: 0;
  display: block;
  @if $dir==up {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-bottom: $width solid $color;
  }
  @else if $dir==down {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $width solid $color;
  }
  @else if $dir==left {
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-right: $width solid $color;
  }
  @else if $dir==right {
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-left: $width solid $color;
  }
}

%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.hide {
  display: none!important; // for js
}

// pixel to rem
@function rem($px) {
  @return $px / 16px+0rem;
}

// screen sizes
@mixin desktop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin custom {
  @media screen and (max-width: 446px) {
    @content;
  }
}

@mixin custom-880px {
  @media screen and (max-width: 880px) {
    @content;
  }
}

@mixin custom-630px {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin custom-726px {
  @media screen and (max-width: 726px) {
    @content;
  }
}

@mixin custom-557px {
  @media screen and (max-width: 557px) {
    @content;
  }
}

@mixin custom-502px {
  @media screen and (max-width: 502px) {
    @content;
  }
}

@mixin custom-469px {
  @media screen and (max-width: 469px) {
    @content;
  }
}

@mixin custom-390px {
  @media screen and (max-width: 390px) {
    @content;
  }
}

@mixin custom-880px {
  @media screen and (max-width: 880px) {
    @content;
  }
}

@mixin custom-415px {
  @media screen and (max-width: 415px) {
    @content;
  }
}

@mixin custom-567px {
  @media screen and (max-width: 567px) {
    @content;
  }
}

@mixin custom-570px {
  @media screen and (max-width: 570px) {
    @content;
  }
}
@mixin custom-327px {
  @media screen and (max-width: 327px) {
    @content;
  }
}

@mixin tablets {
	@media screen and (max-width: 768px) {
	@content;	
	}
}

@mixin phones {
	@media screen and (max-width: 480px) {
	@content;	
	}
}

// iphones
@mixin iphone {
	@media screen and (max-width: 320px) {
		@content;
	}
}

@mixin iphone-4 {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin ihphoneX-375 {
  @media screen and (max-width: 375px) {
    @content;
  }
}

@mixin iphone-7plus {
  @media screen and (max-width: 414px) {
    @content;
  }
}



// nexus
@mixin nexusS-5 {
  @media screen and (max-width: 360px) {
    @content;
  }
}

@mixin nexus5-X {
  @media screen and (max-width: 412px) {
    @content;
  }
}


@mixin nexus7-600 {
  @media screen and (max-width: 600px) {
    @content;
  }
}

// Galaxy
@mixin galaxyS5-360 {
  @media screen and (max-width: 360px) {
    @content;
  }
}

// mixin overrided
@mixin overrided {
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 100%;
  margin-bottom: 50%;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
