.portfolio__slider
    .portfolio__content
        .portfolio__title
            h2 Сайт школы онлайн Образования
        .portfolio__subtitle
            h2 HTML, CSS, JAVASCRIPT
        .portfolio__buttons
            a.portfolio__link(href="http://www.loftschool.com" target="_blank") посмотреть сайт