label.rumors__label(for="input")
    input(type="text" id="input" placeholder="name").rumors__input
label.rumors__label(for="input2")
     input(type="email" id="input2" placeholder="email").rumors__input
label.rumors__area(for="textarea")
    textarea.rumors__textarea(id="textarea" placeholder="message")