.works__left
    .works-slider__content
        .works-slider__content-wrapper
            .works-slider__display
                img.works-slider__display-pic(src='./assets/img/1.png', alt='img')
            .works-slider__item-about
                .works__subtitle
                    .subtitle
                .works__content-desc
                .works__content-btn
                    a.works__content-view(href='https://loftschool.com' target="_blank")
                        i.fa.works__content-view-icon.fa-link
                            |  Посмотреть сайт