.works__right
    .works-slider
        .works-slider__controls
            a.works-slider__control-btn.works-slider__control-btn_left(href='#')
                ul.works-slider__control-list
                    li.works-slider__control-item(data-full='./assets/img/1.png', data-title='Агентсво интернет решений "ITLoft"', data-skills='node', data-link='http://itloft.ru/')
                        img.works-slider___control-img(src='./assets/img/1.png')
                    li.works-slider__control-item(data-full='./assets/img/1-st_slider.png', data-title='Web development for advanced', data-skills='html5, CSS3, javascript, php', data-link='https://paveldub.github.io/portfolio_ch/build/')
                        img.works-slider___control-img(src='./assets/img/1-st_slider.png')
                    li.works-slider__control-item(data-full='./assets/img/1-st_course.png', data-title='Basic markup', data-skills='HTML, CSS', data-link='http://loftblog.ru/')
                        img.works-slider___control-img(src='./assets/img/1-st_course.png')
                    li.works-slider__control-item(data-full='./assets/img/2-nd_course.png', data-title='Web development for beginners', data-skills='UX, design, seo', data-link='http://atmayoga.ru/')
                        img.works-slider___control-img(src='./assets/img/2-nd_course.png')
            a.works-slider__control-btn.works-slider__control-btn_right(href='#')