.works__right
    .works-slider
        .works-slider__controls
            a.works-slider__control-btn.works-slider__control-btn_left(href='#')
                ul.works-slider__control-list
                    li.works-slider__control-item(data-full='./assets/img/1-st.png', data-title='Web development for advanced', data-skills='html5, CSS3, javascript, php', data-link='https://paveldub.github.io/last_project/build/index.html')
                        img.works-slider___control-img(src='./assets/img/1-st.png')
                    li.works-slider__control-item(data-full='./assets/img/2-nd.png', data-title='Basic markup', data-skills='HTML, CSS', data-link='https://paveldub.github.io/first-project/')
                        img.works-slider___control-img(src='./assets/img/2-nd.png')
                    li.works-slider__control-item(data-full='./assets/img/3-rd.png', data-title='Web development for beginners', data-skills='UX, design, seo', data-link='https://paveldub.github.io/burger/')
                        img.works-slider___control-img(src='./assets/img/3-rd.png')
            a.works-slider__control-btn.works-slider__control-btn_right(href='#')