ul.testimonial__list
    li.testimonial__item
        .testimonial__pic
            img.testimonial__img(src=`./assets/img/dima.png`)
        .testimonial__text
            .testimonial__picture
                img.testimonial__image(src="./assets/img/quotes.png")
            .testimonial__text
                p 
                    | Этот парень проходил обучение веб-разработке не
                    | где-то, а в LoftSchool! 2 месяца только самых тяжелых
                    | испытаний и бессонных ночей! 
        .testimonial__author
            .testimonial__name
                h4 Dmitry Kovalchuk 
            .testimonial__position
                h5 &mdash; CEO of Loftschool

    li.testimonial__item
        .testimonial__pic
            img.testimonial__img(src=`./assets/img/vova.png`)
        .testimonial__text
            .testimonial__picture
                img.testimonial__image(src="./assets/img/quotes.png")
            .testimonial__text
                p 
                    | Этот код выдержит любые испытания. Только
                    | пожалуйста, не загружается сайт на слишком старых
                    | браузерах!
        .testimonial__author
            .testimonial__name
                h4 Vladimir Sabantsev
            .testimonial__position
                 h5 &mdash; Teacher

//- let testimonials = [
//-         'photo',
//-         'quote',
//-         'text',
//-         'name',
//-         'position'
//-     ]

//- ul.testimonial__list
//- -   for (let i = 0; i < testimonials.length; i++)
//-         li.testimonial__item
//-             .testimonial__pic
//-                 img.testimonial__img(src=`./assets/img/dima.png`)
//-             .testimonial__text
//-                 .testimonial__picture
//-                     img.testimonial__image(src="./assets/img/quotes.png")
//-                 .testimonial__text
//-                     p 
//-                         | Этот парень проходил обучение веб-разработке не
//-                         | где-то, а в LoftSchool! 2 месяца только самых тяжелых
//-                         | испытаний и бессонных ночей! 
//-             .testimonial__author
//-                 .testimonial__name
//-                     h4 Dmitry Kovalchuk 
//-                 .testimonial__position
//-                     h5 &mdash; CEO of Loftschool