.section {
    width: 100%;
    height: 100%;
    min-height: rem(620px);
    position: relative;
}
 
.Background {
    overflow: hidden;
}

.form-about__img {
    &.form-about--center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.socials {
    &.socials--header {
        position: absolute;
        top: 3%;
        left: 2%; // Зависимость от модификат
        .socials__icon {
            fill: #fff;
            &:hover {
                fill: $cgreen;
            }
        }
    }
    &.socials--footer {
        margin-left: rem(20px);
        @include galaxyS5-360 {
            -js-display: flex;
            display: flex;
            justify-content: center;
            margin-left: 0;
        }
        @include iphone-7plus {
            -js-display: flex;
            display: flex;
            justify-content: center;
            margin-left: 0;
        }

        .socials__icon {
            fill: rgba(255, 255, 255, .5);
            &:hover {
                fill: #fff;
            }
        }
    }
}

// burger menu
.burger-menu {
    position: absolute;
    top: 3%;
    right: 2%;
    z-index: 20;
    &.burger-menu--active {
        .burger-menu__item {
            &.burger-menu__item--top {
                transform: translateY(rem(10px)) translateX(0) rotate(45deg);
                transition: all .5s;
                background: #fff;
            }
            &.burger-menu__item--middle {
                opacity: 0;
                transition: all .4s;
            }
            &.burger-menu__item--bottom {
                transform: translateY(rem(-10px)) translateX(0) rotate(-45deg);
                transition: all .5s;
                background: #fff;
            }
        }
    }
}

.burger-menu__item {
    width: rem(35px);
    height: rem(5px);
    background: #fff;
    border-radius: rem(2px);
    margin-bottom: rem(5px);
    cursor: pointer;
    display: block;
    transition: all .5s;
    &:last-child {
        margin-bottom: 0;
    }
}

// burger-menu end
// overlay
.nav {
    &.nav--overlay {
        height: 100%;
    }
}

.overlay__list {
    -js-display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.overlay__link {
    @include sansus();
    font-size: rem(63px);
    color: #fff;
    text-decoration: none;
    margin-bottom: rem(30px);
    &:hover {
        text-decoration: underline;
    }
}

.overlay {
    position: fixed;
    background: rgba(108, 156, 90, .87);
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 10;
    &.overlay--active {
        visibility: visible;
        opacity: .87;
        height: 100%;
    }
}

// first section
.background-desert {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 6112px;
    background: url('../img/sand.jpg') bottom left repeat-X;
    animation: background 50s linear infinite;
}

@keyframes background {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-3056px); // размер картинки, смотриться в 
    }
}

.portfolio-pic {
    width: 100%;
    height: rem(260px);
    fill: rgba(#fff, .12);
}

.portfolio-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.arrow-down {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.arrow-down__pic {
    fill: rgba(255, 255, 255, .7);
    width: rem(25px);
    height: rem(17px);
}

.arrow-down__link {
    transition: .3s;
    &:hover {
        transition: .3s;
        transform: scale(1.2);
    }
}

// triangle 
.triangle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.triangle__svg-about .left {
    fill: #ebefe2;
    @include nexus7-600 {
        fill: #ebefe2;
    }
    @include tablets {
        fill: #ebefe2;
    }
}

.triangle__svg-about .right {
    fill: #faf8f0;
    @include nexus7-600 {
        fill: #ebefe2;
    }
    @include tablets {
        fill: #ebefe2;
    }
}

// section about
.container-desc {
    @include tablets {
        -js-display: flex;
        display: flex;
        flex-wrap: wrap;
        min-height: rem(1000px);
    }
    @include phones {
        -js-display: flex;
        display: flex;
        flex-wrap: wrap;
    }
    -js-display: flex;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    height: 0;
}

.about {
    -js-display: flex;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

// left section
.about__left {
    @include tablets {
        -js-display: flex;
        display: flex;
        width: 100%;
    }
    @include phones {
        -js-display: flex;
        display: flex;
        width: 100%;
    }
    @include iphone {
        -js-display: flex;
        display: flex;
        width: 100%;
    }
    width: 50%;
    -js-display: flex;
    display: flex;
    flex-direction: column;
    background-color: #ebefe2;
    position: relative;
    overflow: hidden;
}

.title-about__pic {
    fill: #e2ebd0;
    height: rem(110px);
    width: rem(400px);
    display: flex;
}

.title__about {
    -js-display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-about__img {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    .title-about__img--picture {
        position: absolute;
        top: 1.5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.title-about__text {
    position: relative;
    z-index: 2;
    -js-display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: .8;
    &:after {
        content: '';
        display: block;
        width: rem(90px);
        background: $colorTitle;
        height: rem(3px);
        border-radius: rem(2px);
        margin-top: rem(9px);
    }
}

.title-about__text h2 {
    @include sansus();
    font-size: rem(63px);
    color: $colorTitle;
    white-space: nowrap;
}

.about__pic {
    max-width: 100%;
    max-height: 100%;
}

.about__avatar {
    text-align: center;
    padding-top: rem(50px);
}

.about__desc {
    -js-display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.about__desc p {
    width: 65%;
    line-height: 1.5;
}

.about__small {
    margin-top: 2.9375rem;
    margin-bottom: 2.9375rem;
    &.about__small h3 {
        @include sansus();
        font-size: rem(35px);
        color: $colorTitle;
        -js-display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &:after {
            content: '';
            display: block;
            width: rem(70px);
            background: $colorTitle;
            height: rem(3px);
            border-radius: rem(2px);
        }
    }
}

.about__desc {
    flex-direction: column;
    width: 100%;
}

.about__desc p {
    color: $colorTitle;
    font-size: rem(16px);
    @include roboto();
    line-height: 1.5;
}

// right section
.about__right {
    @include tablets {
        -js-display: flex;
        display: flex;
        width: 100%;
    }
    @include phones {
        -js-display: flex;
        display: flex;
        width: 100%;
    }
    width: 50%;
    overflow: hidden;
    -js-display: flex;
    display: flex;
    flex-direction: column;
    background-color: rgb(250,
    248,
    240);
    padding: rem(25px);
}

.about__description {
    text-align: center;
    padding-bottom: rem(30px);
}

.about__description h3 {
    @include sansus();
    font-size: rem(35px);
    color: $colorTitle;
    -js-display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &:after {
        content: '';
        display: block;
        width: rem(70px);
        background: $colorTitle;
        height: rem(3px);
        border-radius: rem(3px);
        margin-top: rem(19px);
    }
}

// section map
.map {
    width: 100%;
    height: 100%;
    position: relative;
}

.map__size {
    height: 100vh;
}

.contacts {
    width: rem(380px);
    height: rem(310px);
    background-color: rgba(244, 245, 240, .851);
    border-radius: rem(5px);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: rem(30px) rem(40px);
}

.contacts__list {
    padding-top: rem(20px);
}

.contacts h2 {
    @include sansus();
    font-size: rem(35px);
    color: #727e73;
    &:after {
        content: '';
        display: block;
        border: rem(2px) solid #727e73;
        width: rem(90px);
        margin: 0 auto;
        margin-top: rem(10px);
    }
}

.contacts__link {
    -js-display: flex;
    display: flex;
    text-decoration: none;
    color: #727e73;
    @include roboto-medium();
    font-size: rem(16px);
    width: 91%;
}

.contacts__pic {
    width: rem(26px);
    height: rem(26px);
    fill: #6c9c5a;
    margin-right: rem(20px);
}

.contacts__item {
    padding-bottom: rem(25px);
    &:last-child {
        padding-bottom: 0;
    }
}

// footer 
.container-footer {
    height: 0;
    -js-display: flex;
    display: flex;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    -js-display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include iphone {
        height: rem(350px);
        -js-display: flex;
        display: flex;
        flex-wrap: wrap;
    }
}

.footer__rowup {
    @include tablets {
        height: rem(235px);
        -js-display: flex;
        display: flex;
        flex-wrap: wrap;
    }
    @include phones {
        height: rem(235px);
        -js-display: flex;
        display: flex;
        flex-wrap: wrap;
    }
    @include iphone {
        -js-display: flex;
        display: flex;
        flex-wrap: wrap;
        height: 55%;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 30px;
        padding: rem(10px) rem(10px);
    }
    @include ihphoneX-375 {
        -js-display: flex;
        display: flex;
        flex-wrap: wrap;
    }
    @include galaxyS5-360 {
        -js-display: flex;
        display: flex;
        flex-wrap: wrap;
    }
    height: rem(147px);
    width: 100%;
    background-color: rgba(55,
    62,
    66,
    .851);
    -js-display: flex;
    display: flex;
    padding: rem(20px) rem(20px);
}

.footer__rowdown {
    width: 100%;
    height: rem(38px);
    background-color: rgba(108, 156, 90, 0.851);
    @include iphone {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.footer__firstsection {
    width: 33.3%;
    height: 100%;
    border-right: rem(1px) solid rgba(#757a7d, .851);
    @include tablets {
        width: 50%;
        height: 50%;
        display: flex;
        border-right: none;
    }
    @include phones {
        width: 50%;
        height: 50%;
        display: flex;
        border-right: none;
    }
    @include iphone {
        width: 100%;
        height: 20%;
    }
    @include galaxyS5-360 {
        width: 100%;
        text-align: center;
        height: 25%;
    }
    @include nexus5-X {
        width: 100%;
        text-align: center;
        height: 25%;
    }
    @include iphone-7plus {
        width: 100%;
        height: 25%;
    }
}

.socials__list {
    @include iphone {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    @include nexus5-X {
        justify-content: center;
    }
}

.footer__adv p {
    width: 80%;
    color: #dddede;
    @include roboto-light();
    font-size: rem(16px);
    line-height: 1.5;
    @include iphone {
        text-align: center;
        width: 100%;
        line-height: 1.1;
        font-size: 12px;
        padding-top: 15px;
    }
    @include galaxyS5-360 {
        width: 100%;
    }

    @include nexus5-X {
        width: 100%;
    }

    @include iphone-7plus {
        width: 100%;
        text-align: center;
    }
}

.footer__secondsection {
    width: 33.3%;
    height: 100%;
    border-right: rem(1px) solid rgba(#757a7d, .851);
    display: flex;
    flex-direction: column;
    @include tablets {
        width: 50%;
        height: 50%;
        display: flex;
        border-right: none;
    }
    @include phones {
        width: 50%;
        height: 50%;
        display: flex;
        border-right: none;
    }
    @include iphone {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 30%;
        padding-bottom: 10px;
    }
    @include galaxyS5-360 {
        width: 100%;
        height: 30%;
    }
    @include nexus5-X {
        width: 100%;
        height: 35%;
    }
    @include iphone-7plus  {
        width: 100%;
        height: 35%;
    }
}

.footer__thirdsection {
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: rem(30px);
    @include tablets {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 50%;
        padding-left: 0;
    }
    @include phones {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 50%;
        padding-left: 0;
    }
    @include iphone {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 0;
    }
}

.footer__quote {
    p {
        color: #dddede;
        @include roboto-italic();
        font-size: rem(16px);
        line-height: 1.8;
        @include iphone {
            line-height: 1.2;
            font-size: rem(12px);
            padding-bottom: 5px;
        }
    }
    h5 {
        @include roboto-bolditalic();
        font-size: rem(16px);
        color: #dddede;
        @include galaxyS5-360 {
            text-align: end;
        }
        @include iphone-7plus {
            text-align: end;
        }
        @include nexus5-X {
            text-align: end;
        }
    }
}

.footer__list {
    justify-content: space-around;
    display: flex;
    .footer__item {
        @include galaxyS5-360 {
            white-space: nowrap;
        }
        justify-content: space-between;
        &.footer__item--active {}
        .footer__link {
            text-decoration: none;
            color: #fff;
            @include roboto-medium();
            font-size: rem(16px);
            margin-bottom: rem(25px);
            @include iphone {
                margin-bottom: 0.5625rem;
                font-size: rem(12px);
            }
            @include galaxyS5-360 {
                margin-bottom: 0.5625rem;
            }
            @include nexus5-X {
                margin-top: 5px;
            }
            @include ihphoneX-375 {
                margin-bottom: 0.5625rem;
            }
        }
    }
}

.padding__list {
    padding-left: rem(20px);
}

.footer__rowdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__rowdown h2 {
    @include roboto-light();
    color: #fff;
    font-size: rem(16px);
}

// circles 
.about__right-frontend {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(60px);
}

.about__right-frontend h2 {
    margin-bottom: rem(20px);
    @include tablets {
        text-align: center;
    }
    @include phones {
        text-align: center;
    }
}

.about__right-backend {
    margin-bottom: rem(60px);
    @include tablets() {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.about__right-backend h2 {
    @include tablets {
        text-align: center;
    }
    @include phones {
        text-align: center;
    }
    margin-bottom: rem(20px);
}

.about__right-workflow h2 {
    margin-bottom: rem(20px);
    @include tablets {
        text-align: center;
    }
    @include phones {
        text-align: center;
    }
}

.about__right-skills {
    margin-top: rem(60px);
}

.about__right-skills h2 {
    @include roboto-medium();
    font-size: rem(28px);
    color: #566358;
}

.about__right-list {
    display: flex;
    justify-content: space-between;
    @include tablets() {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.about__right-item {
    position: relative;
    &:last-child {
        margin-right: 0;
    }
}

.about__right-text h2 {
    @include tablets {
        text-align: center;
    }
    @include phones {
        text-align: center;
    }
    @include roboto-medium();
    font-size: rem(13px);
    font-weight: 600;
    color: #74a163;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,
    -50%);
}

// map style 
.gmnoprint {
    top: 5%;
}

.gm-style-cc {
    display: none;
}