.wrapper-blog {
    overflow: initial;
}

.blog {
    width: 100%;
    height: 100vh;
}

.background-blog {
    background: url('../img/space.jpg') center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

// background stars
.filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: colorChange 30s ease-in-out infinite;
    animation-fill-mode: both;
    mix-blend-mode: overlay;
  }
  
  @keyframes colorChange {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: .9;
    }
  }
  
  .landscape {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 1000px 250px;
    background-repeat: repeat-x;
    background-position: center bottom;
  }

//
.socials {
    &.socials--blog {
        position: absolute;
        top: 3%;
        left: 2%;
        .socials__icon {
            fill: #fff;
            &:hover {
                fill: $cgreen;
            }
        }
    }
}

.triangle-blog {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    @include custom-880px {
        bottom: 0;
    }
    @include tablets {
        bottom: -5px;
    }
    @include custom-415px {
        bottom: -17px;
    }
    @include custom-567px {
        bottom: -3px;
    }
}

.form-about__img {
    &.form-about--position-blog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.portfolio-img {
    &.portfolio-img--bottom {
        top: 50%;
    }
}

.form-about__desc {
    &.form-about--size h2 {
        @include sansus();
        font-size: 63px;
        color: #fff;
        &:after {
            content: '';
            display: block;
            border: 2px solid #fff;
            width: 50px;
            border-radius: 3px;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}

.triangle__svg {
    &.triangle__svg--color .left,
    .right {
        fill: #faf8f0;
    }
}

// section articles 
.articles {
    background: #faf8f0;
    width: 100%;
    display: flex;
    position: relative;
}

.nav__link {
    &.nav__link--color {
        color: black;
    }
}

.nav__item {
    &.nav__item--changed {
        padding-right: 0;
    }
}

.nav__list {
    &.nav__list--changed {
        padding-left: 0;
        flex-direction: column;
    }
}

.articles__sidebar {
    margin: 40px;

    @include tablets {
        position: absolute;
        width: 100%;
        right: 100%;
        height: 100%;
        top: 0;
        z-index: 1;
        margin: 0;
    }

    @include tablets {
        &.articles__sidebar--active {
            right: 60%;
            transition: .4s;
            height: 100%;
        }
    }
    @include iphone {
        &.articles__sidebar--active {
            right: 10%;
            transition: .4s;
            height: 100%;
        }
    }
}

.fixed {
    position: fixed;
    top: 0;
}

.articles__blog {
    width: 75%;
    margin-top: 35px;
    margin-left: 50px;
    overflow: hidden;
    @include tablets {
        width: 100%;
        margin-left: 50px;
        transition: .2s;
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    @include iphone {
        width: 100%;
        margin-left: 45px;
    }
}

.anchors {
    position: sticky;

    @include tablets {
        background: #6c9c5a;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.75);
    }
}

.anchors__button {
    @include tablets {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 70px;
        background: #6c9c5a;
        border-radius: 50%;
        box-shadow: 3px 0px 4px -1px rgba(0, 0, 0, 0.75);
    }
}

.anchors__list {
    list-style-type: none;
    text-align: right;
    position: relative;
    @include tablets {
        padding-right: 20px;
    }
}

.anchors__items {
    padding-bottom: 40px;
    position: relative;
    @include tablets {
        padding-bottom: 40px;
    }
    &:last-child {
        padding-bottom: 0;
    }

    &.anchors__items--active:after {
        display: block;
        @include tablets {
            display: none;
        }
    }
    &:after {
        content: '';
        position: absolute;
        display: none;
        right: -15px;
        top: 1px;
        height: 45px;
        border: 2px solid #6c9c5a;
        transition: .4s;
        animation: active .4s ease-in-out;
        @keyframes active {
            0% {
                height: 0px;
            }
            ;
            10% {
                height: 4.5px;
            }
            ;
            20% {
                height: 9px;
            }
            ;
            30% {
                height: 13.5px;
            }
            ;
            40% {
                height: 18px;
            }
            ;
            50% {
                height: 22.5px;
            }
            ;
            60% {
                height: 27px;
            }
            ;
            70% {
                height: 31.5px;
            }
            ;
            80% {
                height: 36px;
            }
            ;
            90% {
                height: 40.5px;
            }
            ;
            100% {
                height: 180deg;
            }
            ;
        }
    }
}

.anchors__link {
    @include tablets {
        &.anchors__link {
            color: #fff;
        }
    }
    &.anchors__link--active {
        color: #6c9c5a;
        @include tablets {
            &.anchors__link--active {
                color: greenyellow;
            }
        }
    }
    text-decoration: none;
    color: #adb2a9;
    @include roboto();
    font-size: 16px;
    position: relative;
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    transition: .3s;
}

.article__title {
    width: 85%;
    @include tablets {
        width: 100%;
    }
    &.article__title--margin {
        margin-top: 70px;
    }
    &.article__title h2 {
        @include sansus();
        font-size: 35px;
        color: #566358;
        margin-bottom: 20px;
    }
    @include iphone {
        width: 100%;
        text-align: center;
    }
}

.article__date h5 {
    @include roboto();
    color: #6c9c5a;
    font-size: 16px;
}

.article__text {
    position: relative;
}

.article__text p {
    line-height: 1.625;
    color: #566358;
}

.block-left {
    background: #e7e5e3;
    width: 10%;
    height: 130px;
    padding: 10px 10px;
}

.numbers {
    display: flex;
    flex-direction: column;
} // text inside the form
.number {
    text-align: end;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
}

.block-right {
    width: 90%;
    background: #f5f2f0;
    height: 130px;
    display: flex;
    flex-direction: column;
}

pre.line-numbers {
    width: 90%;
}s

.article__text {
    border-bottom: 5px solid #ecebe4;
    padding-bottom: 70px;
    width: 90%;
    &:last-child {
        border-bottom: 0;
    }
}

// first section effect
