.datepicker {
  width: 100%;
  height: 100%;

  &__heading {
    h1,
    h2,
    h3 {
      @include LifehackSans();
      @include flex();
      font-size: 40px;
    }
  }
}

.datepicker__general {
  display: flex;
  padding-top: 70px;
}

.datepicker__left {
  width: 50%;
  @include flex();
  flex-direction: column;
}

.datepicker__left-title {
  h4 {
    @include UbuntuBold();
    font-size: 20px;
  }
}

.datepicker__right {
  width: 50%;
  @include flex();
  flex-direction: column;
}

.datepicker__right-title {
  h4 {
    @include UbuntuBold();
    font-size: 20px;
  }
}

.datepicker__left-list {
  display: flex;
}

.datepicker__left-item {
  padding: 20px;
  @include UbuntuBold();
  font-size: 15px;
  text-transform: uppercase;

  &--color {
    color: $red;
  }
}

.datepicker__right-list {
  display: flex;
}

.datepicker__right-item {
  padding: 20px;
  @include UbuntuBold();
  font-size: 15px;
  text-transform: uppercase;

  &--color {
    color: $red;
  }
}
