.log-in {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-about {
    position: relative;
}

.form-about__title h2 {
    @include sansus();
    font-size: 35px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;

    &:after {
        content: '';
        display: block;
        border-bottom: 2px solid #fff;
        width: 90px;
        padding-top: 27px;
    }
}

// form
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.form__input {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    height: 45px;
    outline: none;
    border: none;
    width: 100%;
    padding: 15px 60px;
    display: flex;
    flex-shrink: 1;
}

.form__label {
    padding-bottom: 20px;
    position: relative;

    &:last-child {
        padding-bottom: 0;
    }
}

// image input
.form__img-login {
    width: 45px;
    height: 45px;
    background: #f0efe9;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    top: 0;
    left: 0;
    position: absolute;
}

.form__img-password {
    width: 45px;
    height: 45px;
    background: #f0efe9;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    top: 0;
    left: 0;
    position: absolute;
}

.form__pic {
    position: absolute;
    top: 26.2%;
    left: 35%;
}

.form__svg-pic {
    width: 15px;
    height: 15px;
    fill: #c4cbcd;
    transition: .4s;

    &:hover {
        transition: .4s;
        fill: #6c9c5a;
    }
}

.form__pic-pass {
    position: absolute;
    top: 28%;
    left: 35%;
}

.form__svg-icon {
    width: 15px;
    height: 15px;
    fill: #c4cbcd;
    transition: .4s;

    &:hover {
        transition: .4s;
        fill: #6c9c5a;
    }
}
// image input end

.form__radio-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

    @include iphone-4 {
        padding-bottom: 0;
    }
}

.form__radio-title {
    @include roboto();
    font-size: 16px;
    color: #fff;
}

.form__radio-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    @include iphone-4 {
        padding-bottom: 3px;
    }
}

.form__radio-check-box {
    position: absolute;
    top: 0;
    left: -9999px;
}

.form__radio-img {
    width: 19px;
    height: 19px;
    background-color: #fff;
    border-radius: 2px;
    position: relative;
    margin-right: 9px;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url('../img/check-box.png');
        background-repeat: no-repeat;
        width: 21px;
        height: 20px;
        border-radius: 2px;
        opacity: 0;
    }
}

.form__radio-check-box:checked {
    &+.form__radio-img:after {
        opacity: 1;
    }  
}

.form__radio-text {
    @include roboto-bold();
    font-size: 16px;
    color: #fff;
    padding-bottom: 15px;

    &:last-child {
        margin-right: 0;
    }
}

.form__radio-circle {
    display: flex;
    justify-content: space-around;
    padding-bottom: 22px;
    width: 70%;

    @include nexusS-5 {
        padding-bottom: 15px;
    }
    @include nexus5-X {
        padding-bottom: 15px;
    }
    @include iphone-7plus {
        padding-bottom: 15px;
    }
    @include iphone-4 {
        padding-bottom: 8px;
    }
}

.form__radio-yes {
    @include roboto-medium();
    font-size: 16px;
    color: #fff;
}

.form__radio-no {
    @include roboto-medium();
    font-size: 16px;
    color: #fff;
}

.form__radio-circle-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

// input styles
input:focus {
    border: 2px solid #6c9c5a;
}
//

.form__radio-no h6 {
    @include roboto();
    font-size: 16px;
    color: #fff;
}

.form__radio-yes h6 {
    @include roboto();
    font-size: 16px;
    color: #fff;
}

.form__radio-circle-type {
    position: absolute;
    top: 0;
    left: -9999px;
}

.form__radio-img-circle {
    width: 20px;
    height: 20px;
    @include circle(20px, #fff);
    position: relative;
    margin-right: 10px;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        background: #6c9c5a; 
        border-radius: 50%;
        opacity: 0;
    }
}

.form__radio-circle-type {
    &:checked + .form__radio-img-circle:after {
        opacity: 1;
    }
}

.buttons__item {
    &:nth-child(1) {
        width: 50%;
    }
    &:nth-child(2) {
        width: 50%;
    }
}

.login-buttons__list {
    display: flex;

    .login-buttons__item {
        width: 50%;
        background: #6c9c5a;
        height: 45px;
        border-right: 2px solid #92b08f;
        line-height: 45px;
        text-align: center;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        transition: .3s;
        &:hover {
            background: #4a803a;
            transition: .3s;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        &:last-child {
            border-right: 0;
        }
        .login-buttons__link {
            text-decoration: none;
            color: #fff;
            @include roboto-medium();
            font-size: 16px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


