.footer__rowup
    .footer__firstsection
        .footer__adv
            p Этот сайт я сделал в рамках обучения в 
                | Школе онлайн образования LoftSchool. 
    .footer__secondsection
        +nav('footer', ['My works', 'About', 'Blog', 'Login'])
        +socials('footer')
    .footer__thirdsection
        .footer__quote
            p Always code as if the guy who ends up
                | maintaining your code will be a violent
                | psychopath who knows where you live.
                br
            h5  &mdash; Martin Golding
.footer__rowdown
    h2 &copy; Pavel Demidovich

