.form-about.form-about-login
    .form-about__title
        h2 Sign Up
    form.form(method="POST")
        label.form__label(for="login")
            input.form__input(type="text" id="login" name="login" required placeholder="Login")
            .form__img-login
                .form__pic
                    svg.form__svg-pic
                        use(xlink:href="./assets/img/sprite.svg#login")
        label.form__label(for="password")
            input.form__input(type="password" id="password" name="password" required placeholder="Password")
            .form__img-password
                .form__pic-pass
                    svg.form__svg-icon
                        use(xlink:href="./assets/img/sprite.svg#password")
        .form__radio-buttons
            label.form__radio-checkbox(for="checkbox-id")
                input(type="checkbox" id="checkbox-id" name="checkbox-id").form__radio-check-box
                .form__radio-img
                .form__radio-title
                    h5 I'm not a robot
        .form__radio-text
            h3 Are you sure?
        .form__radio-circle 
            label.form__radio-circle-box(for="circle-yes")
                input(type="radio" id="circle-yes" name="circle").form__radio-circle-type
                .form__radio-img-circle
                .form__radio-yes 
                    h6 Yes    
            label.form__radio-circle-box(for="circle-no")
                input(type="radio" id="circle-no" name="circle").form__radio-circle-type
                .form__radio-img-circle
                .form__radio-no 
                     h6 No 
    .login-buttons
        ul.login-buttons__list
            li.login-buttons__item
                a.login-buttons__link(href="#")#link Main
            li.login-buttons__item
                a.login-buttons__link(href="my-works.html") Enter