.about__right-frontend
    h2 Frontend
    ul.about__right-list
        li.about__right-item
            svg.circles(viewbox='0 0 110 110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-90(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            .about__right-text
                h2 HTML5
        li.about__right-item
            svg.circles(viewbox='0 0 110 110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-80(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            .about__right-text
                h2 CSS3
        li.about__right-item
            svg.circles(viewbox='0 0 110 110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-20(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            .about__right-text
                h2 JavaScript
.about__right-backend
    h2 Backend
    ul.about__right-list
        li.about__right-item
            svg.circles(viewbox='0 0 110 110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-10(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            .about__right-text
                h2 PHP
        li.about__right-item
            svg.circles(viewbox='0 0 110 110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-10(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            .about__right-text
                h2 mySQL
        li.about__right-item.about__right-nodeJs
            svg.circles(viewbox='0 0 110 110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-10(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            .about__right-text
                h2 NodeJs
        li.about__right-item.about__right-mongo
            svg.circles(viewbox='0 0 110 110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-10(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            .about__right-text
                h2 Mongo.db
.about__right-workflow
    h2 WorkFlow
    ul.about__right-list
        li.about__right-item
            svg.circles(viewbox='0 0 110 110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-50(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            .about__right-text
                h2 Git
        li.about__right-item
            svg.circles(viewbox='0 0 110 110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-40(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            .about__right-text
                h2 Gulp
        li.about__right-item
            svg.circles(viewbox='0 0 110 110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-20(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            .about__right-text
                h2 Webpack
                        