extends ../_template

block variables
    -var title = "Blog"

block content
    .wrapper.wrapper-blog.visually-hidden
        .preloader#page-preloader
            .loader
            span#load-perc.loader-percentage(<='', span='') 0%
        section.section.blog
            .background-blog
            .landscape
                .filter
                canvas#canvas
            +socials('blog')
            include ../common/burger-menu
            +background('bottom', 'blog_header')
            +herocenter('position-blog', 'blog', 'My articles', 'size')
            .triangle-blog
                +triangle('color')
            +arrow('', '#anchor')
        section.articles#anchor
            aside.articles__sidebar
                .anchors
                    include ../layout/blog/anchors
            .articles__blog
                article.article__text#article1
                    .article__title
                        h2 Самое важное в SASS
                    time.article__date 
                        h5 03.01.2017
                    .article__texts
                        p   
                            | Таким образом начало повседневной работы по формированию позиции позволяет <br>
                            | выполнять важные задания по разработке направлений прогрессивного развития. <br>
                            | Разнообразный и богатый опыт новая модель организационной деятельности играет <br>
                            | важную роль в формировании новых предложений. Товарищи! новая модель <br>
                            | организационной деятельности играет важную роль в формировании систем массового <br>
                            | участия. <br>
                        p
                            | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает <br>
                            | широкому кругу (специалистов) участие в формировании систем массового участия. <br>
                            | Идейные соображения высшего порядка, а также рамки и место обучения кадров <br>
                            | обеспечивает широкому кругу (специалистов) участие в формировании позиций, <br>
                            | занимаемых участниками в отношении поставленных задач. Товарищи! постоянный <br>
                            | количественный рост и сфера нашей активности способствует подготовки и реализации <br>
                            | модели развития. С другой стороны рамки и место обучения кадров влечет за собой <br>
                            | процесс внедрения и модернизации системы обучения кадров, соответствует <br>
                            | насущным потребностям.
                        -   
                            let code=
                            `// присвоить
                                $(document).data('prop', {anything: "Любой объект"})

                            // прочитать
                                alert( $(document).data('prop').anything ) // любой объект`
                        pre.line-numbers 
                            code.language-js!= code
                article.article__text#article2
                    .article__title.article__title--margin
                        h2 Приёмы в вёрстке, без которых не обходится ни один сайт
                    time.article__date 
                        h5 13.09.2017
                    .article__texts
                        p   
                            | Таким образом начало повседневной работы по формированию позиции позволяет <br>
                            | выполнять важные задания по разработке направлений прогрессивного развития. <br>
                            | Разнообразный и богатый опыт новая модель организационной деятельности играет <br>
                            | важную роль в формировании новых предложений. Товарищи! новая модель <br>
                            | организационной деятельности играет важную роль в формировании систем массового <br>
                            | участия. <br>
                            <br>
                        p
                            | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает <br>
                            | широкому кругу (специалистов) участие в формировании систем массового участия. <br>
                            | Идейные соображения высшего порядка, а также рамки и место обучения кадров <br>
                            | обеспечивает широкому кругу (специалистов) участие в формировании позиций, <br>
                            | занимаемых участниками в отношении поставленных задач. Товарищи! постоянный <br>
                            | количественный рост и сфера нашей активности способствует подготовки и реализации <br>
                            | модели развития. С другой стороны рамки и место обучения кадров влечет за собой <br>
                            | процесс внедрения и модернизации системы обучения кадров, соответствует <br>
                            | насущным потребностям.
                article.article__text#article3
                    .article__title.article__title--margin
                        h2 Самый необходимый набор Gulp плагинов
                    time.article__date 
                        h5 13.09.2017
                    .article__texts
                        p   
                            | У веб-разработчиков есть прекрасный инструмент для автоматизации массы задач, <br>
                            | который называется Gulp. И моя страсть к таксономии заставила себя собрать огромную <br>
                            | коллекцию почти из 100 ценных плагинов для этого сборщика.
                            | Думаю многие кто уже <br> 
                            | использует Gulp найдут для себя что-то нужное, а кто нет, глядя
                            | на возможности,<br>
                            | получит хорошую мотивацию установить его и понять как эта штука работает. <br>
                        p
                            | autoprefixer — один из самых полезных плагинов, который автоматически расставляет <br>
                            | префиксы к CSS
                            | свойствам, исходя из статистики caniuse. Важно сказать, что Автопрефиксер<br>
                            | это лишь один из множества 
                            | дополнений в рамках проекта PostCSS от Злых Марсиан. <br>
                            | gulp-browser-sync — вероятно, самый нужный инструмент, с точки зрения повышения<br>
                            | продуктивности веб-разработчиков.<br>
                            | BrowserSync создает подключение, после чего производит автообновление страницы во всех браузерах на всех устройствах 
                            | при изменениями не только клиентских или даже серверных<br>
                            | файлов. А плюс ко всему синхронизирует позицию скроллинга и <br>
                            | заполненные данные в формах. <br>
                            | gulp-useref — парсит специфичные блоки и конкатенирует описанные в них стили и скрипты. <br>
                article.article__text#article4
                    .article__title.article__title--margin
                        h2 Почему я выбрал PUG
                    time.article__date 
                        h5 13.12.2017
                    .article__texts
                        p   
                            | «Рутина» — так можно назвать основную часть деятельности современного фронтендщика. Мы собираем спрайты и SVG-иконки, оптимизируем графику, конкатенируем и минифицируем стили и скрипты и т.п.
                            | Работа, скажем так, совсем не радующая креативную душу разработчика.
                            | Просиживая долгие часы, пытаясь качественно сделать свою работу, я старался найти способ ускорить исполнение. При этом чтобы качество не пострадало.
                            | Долго ведь не значит хорошо. Мне хотелось писать код максимально эффективно. И помочь себе и своим коллегам максимально оптимизировать верстку.
                            | Несколько лет размышлений и поисков даром не прошли. Представляю Вам инструмент gulp-front. который имеет высокую степень настраиваемости. С его помощью решается большинство задач, стоящих перед фронтендщиком.
                            | Основная функция gulp-front — работа с версткой. Однако его можно использовать также и для разработки на JavaScript.
            .overlay#overlay
                +nav('overlay', ["My works", "About", "Blog", "Log in"])            
        footer.footer
            include ../common/footer


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js")
    script(src="./assets/js/flexibility.js")           
    script(src="./assets/js/blog.js")





          
