ul.anchors__list
    li.anchors__items
        a.anchors__link(href="#article1") Самое важное в SASS
    li.anchors__items
        a.anchors__link(href="#article2") Приёмы в вёрстке, без которых <br> не обходится ни один сайт
    li.anchors__items
        a.anchors__link(href="#article3") Самый необходимый набор Gulp <br> плагинов
    li.anchors__items
        a.anchors__link(href="#article4") Почему я выбрал Pug
.anchors__button